{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<script>
    function transferValue() {
    var total_bills = {{ total_amount|floatformat:2 }};
    document.getElementById('calc_bills').value = total_bills;
    localStorage.setItem('calc_bills', total_bills);
    }
</script>


    
<div class="table_container">
    <div class="button_section">
            <span class="table_title">
                {{ total_count }}
                {% if total_count != 1 %}
                    Entries
                {% else %}
                    Entry
                {% endif %}
                - Bills: $ {{ total_amount|floatformat:2 }} </span>
            <a href="{% url 'bill create' %}"><button class="form_button">Add Bill</button></a>
    </div>

    <div class="table_section">
        <table class="listed_table">
            <tr class="table_header">
                <th class="date">Date</th>
                <th class="description">Description</th>
                <th colspan = "3" class="amount">Amount</th>
            </tr>

            {% for bill in page_obj %}
                <tr class="table_rows">
                    <td class="date">{{ bill.date }}</td>
                    <td class="description">{{ bill.description|capfirst }}</td>
                    <td class="amount">$ {{ bill.amount|floatformat:2 }}</td>
                    <td class="edit">
                        <a href="{% url 'bill edit' bill_pk=bill.pk %}">
                        <img class='small_icons' src="{% static 'images/edit.png' %}" alt="edit">
                        </a>
                    </td>
                    <td class="delete">

                        {% if not staff_member or supper_user %}
                        <a href="{% url 'bill delete' bill_pk=bill.pk %}">
                        <img class='small_icons' src="{% static 'images/delete.png' %}" alt="delete">
                        </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}

            <tr class="lumpsum">
                <th colspan = "2" class="total_amount">Total Bills:</th>
                <th colspan = "3" class="sum_amount">$ {{ total_amount|floatformat:2 }}</th>
            </tr>
        </table>
    </div>

    {% include 'partials/pagination.html' %}

</div>
{% endblock %}