{% extends 'common/base.html' %}
{% load filters %}

{% block content %}

<section>
    <div class="form">

        <h1>Change Password</h1>

        <form class='form_styling' action="{% url 'password change' pk=user.pk %}" method="post">
            {% csrf_token %}

            <div id="old_pass">{{ form.old_password|placeholder:'Old password' }}</div>
            <div id="new_pass1">{{ form.new_password1|placeholder:'New password' }}</div>
            <div id="new_pass2">{{ form.new_password2|placeholder:'Repeat password' }}</div>

            <button class="form_button">Confirm</button>

            {% if form.errors %}
                <div class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

        </form>
    </div>

</section>

{% endblock %}