{% extends 'common/base.html' %}

{% block content %}


<section>
    <div class="form">

        <h1>Log In</h1>

        <form class='form_styling' action="{% url 'sign in' %}" method="post">
            {% csrf_token %}
            <div>
                {{ form.username }}
            </div>
            <div>
                {{ form.password }}
            </div>

            <input type="hidden" name="next" value="{{ next }}">

            <button class="form_button">Log In</button>
            {% for error in form.non_field_errors %}
                <div class="errorlist">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
        </form>
    </div>
</section>

{% endblock %}