{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A finance app that helps families keep track of their budget. Statistics and search functionality make it easy to understand how to maximize savings and optimize spending.">
    <meta name="keywords" content="finance app, budget tracker, family budget, financial statistics, family savings, spending optimization, personal finance, money management, maximize savings">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <title>Virtual Finance Site</title>
</head>
    <body style = " background-image: url({% static 'images/background.png' %});
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                  " >

    {% include 'partials/header.html' %}

        <main>
            <div class="main_content">
                {% block content %}
                {% endblock %}
            </div>
        </main>

    {% include 'partials/footer.html' %}

    </body>
</html>