{% extends 'common/base.html' %}

{% block content %}

<div class="important_container">
    <div class="important_list">
        <ul>
            <li>
                <p id="disclaimer">Disclaimer</p>
            </li>
            <li>
                The app does not store private information
            </li>
            <li>
                If you want bigger privacy, hide your IP using VPN
            </li>
            <li>
                The app does not know whose account belongs to whom
            </li>
            <li>
                The app can not link the profile with specific person or entity
            </li>
            <li>
                Accounts not used more than a year, will be deleted
            </li>
            <li>
                If you lose your password, you lose your account
            </li>
            <li>
                The app can not restore lost password
            </li>
            <li>
                Keep your password safe
            </li>
        </ul>
    </div>
</div>

{% endblock %}