{% extends 'common/base.html' %}

{% block content %}

<div class="important_container">
    <div class="important_list">
        <ul>
            <li>
                <p id="disclaimer">Ooops! Page not found!</p>
            </li>
            <li>
                The page you requested can not be found!
            </li>
            <li>
               <br>
               <a href="{% url 'index' %}">
                   <button class="form_button"> Home </button>
               </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}